/* general charts styles */
.chart-container{
  background-color: var(--gray-200);
  padding: 24px 32px 24px 32px;
  position:relative;
}
.chart-container.rating{
  min-height: 140px;
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  flex-grow: 1;
}
.flex-half-screen{
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  flex-grow: 1;
  min-width: 400px;
}
.yAxis text, .xAxis text, .highlightYear{
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'sans-serif';
  font-size: 1rem;
}
.yAxis text{
  fill: #A9B1B7;
}
.xAxis text{
  fill: #000;
}
.axis-label{
  font-weight: 700;
}
.yAxis line{
  stroke-dasharray: 4;
  stroke: var(--gray-500);
  stroke-width: 1;
}
p.source{
  font-size: 0.875rem;
  color: var(--gray-600);
  margin-bottom:0;
  margin-top:0;
}
.barLabel{
  text-anchor:middle;
  font-size: 14px;
}
.barLabel.hover{
  font-size:18px;
}
.chartLabel {
  font-size: 0.875rem;
}
.labelSelected{
  font-size: 1.3rem;
}
.stackedRect rect{
  opacity: 0.8;
}
.stackedRect:hover rect{
  transition: 0.2s;
  opacity: 1;
}
.stackedRect:hover .chartLabel{
  transition: 0.2s;
  font-size: 1rem;
  font-weight: 700;
}
/* color legend styles for charts */
.legend-container{
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  padding-bottom: 0px;
  align-items: center;
}
.legend-item{
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  gap: 8px;
  margin-right: 1rem;
}
.legend-circle{
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 0;
}
.legend-circle-small{
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin: 0;
}
.legend-circle-medium{
  width: 11px;
  height: 11px;
  border-radius: 11px;
  margin: 0;
}
.flex-vertical{
  flex-direction: column;
}
.flex-vertical .stat-card{
  flex-basis: unset;
}
.highlightScale{
  stroke: #000;
  stroke-width: 4px;
}
@media (max-width: 600px) {
  .yAxis text, .xAxis text{
    font-size: 9px;
  }
}
@media (max-width: 420px) {
  .yAxis text, .xAxis text{
    display: none;
  }
}
.not-available{
  font-size: 2rem;
  font-weight: bold;
}